.left{
    margin-left: auto;
    margin-right:5em;
    display:inline-blockl;
}

.paragraph-result{
    color:black;
    font-size:1.1em;
    font-weight: bold;
    display:inline-block;
}

.pay-button{
    width:15em;
    display:block;
}

.form-control{
    margin-bottom:1em;
}
